Django==1.6.2
South==0.8.4
argparse==1.2.1
psycopg2==2.5.2
wsgiref==0.1.2
fabric
uwsgi
django_extensions
django-csvimport
easy_thumbnails
pillow
pylibmc
FeedParser
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/ronnix/fabtools.git
git+git://github.com/omab/django-social-auth.git
hg+https://bitbucket.org/ubernostrum/django-registration
pygraphviz
pyparsing==1.5.7
pydot
BeautifulSoup4
djangorestframework
requests
#sudo apt-get install -y mercurial memcached libmemcached-dev zlib1g-dev libssl-dev python-dev build-essential libjpeg-dev libfreetype6-dev zlib1g-dev libpng12-dev libpq-dev libgraphviz-dev graphviz
