{% extends "rss/base_feed.html" %}

{% block feeditems %}
{% for film, actors, directors, poster, trailer, scriptwriter, cost, genres in films %}
<item>
  <title>{{ film.name }}</title>
  <link>http://vsevi.ru/films/{{ film.id }}/</link>
  <description>
    <![CDATA[<img align=right src="{{ poster }}" />Сводный рейтинг: {{ film.rating_cons }}/10<br />
    {% if actors %}В ролях: {{ actors }}<br />{% endif %}
    {% if directors %}Режиссер: {{ directors }}<br />{% endif %}
    {% if scriptwriter %}Сценарист: {{ scriptwriter }}<br />{% endif %}
    {% if genres|length %}Жанр: {{ genres|join:', ' }}<br />{% endif %}
    Стоимость: {{ cost }}<br />
    {{ film.description }}]]>
  </description>
  <pubDate>{{ date }}</pubDate>
  <guid>{{ film.id }}</guid>
</item>
{% endfor %}
{% endblock %}
