{% spaceless %}
    <?xml version="1.0" encoding="UTF-8"?>
    <rss version="2.0">
        <channel>
            <title>Все Видео - {% block title %}новинки{% endblock %}</title>
            <link>http://vsevi.ru</link>
            <description>агрегатор всех онлайн-кинотеатров — Все видео: онлайн просмотр глобальный видео-архив фильмов, сериалов, видео-трансляций, ТВ</description>
            <language>ru-ru</language>
            <pubDate>{{ date }}</pubDate>
            <lastBuildDate>{{ date }}</lastBuildDate>
            <generator>VseVi rss robot</generator>
            <managingEditor>info@vsevi.ru</managingEditor>
            <webMaster>info@vsevi.ru</webMaster>
            {% block feeditems %}{% endblock %}
        </channel>
    </rss>
{% endspaceless %}
