{% extends "rss/feed_base.html" %}
{% load dict_filters %}

{% block feeditems %}
    {% for film, actors, directors, poster, trailer, scriptwriters, locations, genres in description %}
        <item>
            <title>{{ film.name }} ({{ film.release_date.year }})</title>
            <link>{{ trailer }}</link>
            <enclosure url="{{ poster }}" type="image/jpeg" />
            <description>
                {% autoescape off %}
                    <![CDATA[Новинка в кинотеатре "Все видео": {{ film.film_type|title }} "{{ film.name }}" ({% if film.name_orig %}{{ film.name_orig }}, {% endif %}год: {{film.release_date.year}})<br />
                    Сводный рейтинг: {{ film.rating_cons }}/10<br />
                    Смотреть: http://vsevi.ru/films/{{ film.id }}/?utm_source=ok<br />
                    Стоимость: {% include "rss/cost.html" with film=film locations=locations %}<br />
                    {% if actors %}В ролях: {{ actors|array_format:'<a href="http://vsevi.ru/persons/{item.id}/">{item.name}</a>'|join:', ' }}<br />{% endif %}
                    {% if genres|length %}Жанр: {{ genres|join:", " }}<br />{% endif %}
                    {% if directors %}Режиссер: {{ directors|array_format:'<a href="http://vsevi.ru/persons/{item.id}/">{item.name}</a>'|join:', ' }}<br />{% endif %}
                    {% if scriptwriters %}Сценарист: {{ scriptwriters|array_format:'<a href="http://vsevi.ru/persons/{item.id}/">{item.name}</a>'|join:', ' }}<br />{% endif %}
                    {{ film.description }} http://vsevi.ru/films/{{ film.id }}/]]>
                {% endautoescape %}
            </description>
            <pubDate>{{ date }}</pubDate>
            <guid>{{ film.id }}</guid>
        </item>
    {% endfor %}
{% endblock %}
