- conf = {static_url: "static/"}
- conf.tpl_utl = conf.static_url + "tpl/"
- conf.images_url = conf.static_url + "img/"
- conf.js_url = conf.static_url + "js/"
- conf.style_url = conf.static_url + "css/"
- conf.noposter_url = conf.images_url +  "noposter.jpg"
- conf.noavatar_url = conf.images_url + "nophoto.jpg"
- conf.noavatar_big_url = conf.images_url + "noperson-big.jpg"
- conf.noperson_url = conf.images_url + "noperson.jpg"
- conf.noperson_big_url = conf.images_url + "noperson-big.jpg"
- conf.logo_src = conf.images_url + "logo.png"
- conf.third_url = conf.static_url + "3d/"