- static_url = "/static/"
- img_url = static_url + "img/"
- noavatar_url = img_url + "noavatar.png"
- nophoto_url = img_url + "nophoto.png"
- noposter_url = img_url + "noposter.png"
- js_url = static_url + "js/"
- css_url = static_url + "css/"
- IN_PRODUCTION = true