footer
    .container
        .col-md-4.logo
            .md-padding.md-vmiddle
                span.md-vmiddle-helper
                img(src="static/img/logo-footer.png",alt="Всё видео")
        .col-md-4.links
            ul.list-inline
                li
                    a(href="#") Правовая информация
                li
                    a(href="#") О сервисе
        .col-md-4.social
            ul.list-inline
                li
                    a(href="#")
                        img(src="static/img/social-fb.png",alt="Всё видео на Фейсбуке")
                li
                    a(href="#")
                        img(src="static/img/social-twitter.png",alt="Всё видео на Твиттере")
                li
                    a(href="#")
                        img(src="static/img/social-rss.png",alt="Всё видео RSS")
                li
                    a(href="#")
                        img(src="static/img/social-vk.png",alt="Всё видео во ВКонтакте")
    .container
        .copyright.md-col-12
            &copy; Всё видео, 2014. Все права защищены
script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
script(src="static/js/config.js")
script(src="static/3d/rateit/jquery.rateit.js")
script(src="static/js/mi.helper.js")
script(src="static/js/mi.rest.js")
script(src="static/js/app.js")