footer.container
    hr
    .col-md-2
       | Здесь лого
    .col-md-2
       | &copy; Всё видео 2014<br/>Все права защищены
    .col-md-6.text-center
        ul.list-inline.list-unstyled
            li
                a(href="#") Правовая информация
            li
                a(href="#") О сервисе
    .col-md-2
        .text-left
            | Мы в социальных сетях
            ul.list-inline.list-unstyled
                li
                    a(href="#") V
                li
                    a(href="#") F
                li
                    a(href="#") T
                li
                    a(href="#") G
script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/mi.rest.js")
script(src="js/mi.helper.js")
script(src="3d/rateit/jquery.rateit.js")
script(src="js/app.js")