// global vars
- months = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]
- location_names = {"ivi": "IVI.ru", "now": "Now.ru", "megogo": "Megogo", "tvigle": "TVigle", default: "Неизвестно"}
- quality_texts = {"hd": "Отличное", "sd": "Хорошее", "fhd": "Full HD", "default": "Хорошее"}
- date_now = new Date()
- function how_long(dt, level) {
-   res = ""
-   if (level == undefined) level = 0
-   year_diff = date_now.getFullYear() - dt.getFullYear()
-   now_month = date_now.getMonth()
-   dt_month = dt.getMonth()
-   now_date = date_now.getDate()
-   dt_date = dt.getDate()
-   if ((now_month < dt_month) || (now_month == dt_month && now_date < dt_date)) year_diff--;
-   if (year_diff > 0) res = year_diff + cardinal(year_diff, " год", " года", " лет");
-   if (level > 0) {
-       month_diff = now_month - dt_month
-       if (month_diff < 0) month_diff+= 12
-       if (month_diff == 0) month_diff = 1
-       res+= (res?" ":"") + month_diff + cardinal(month_diff, " месяц", " месяца", " месяцев")
-   }
-   return res
- }
- function cardinal(val, form1, form2, form3) {
-   var d10;
-   if (val > 4 && val < 21) return form3;
-   d10 = val % 10;
-   if (d10 == 0 || d10 > 4) return form3;
-   if (d10 == 1) return form1;
-   return form2;
- }
- function quality_text(qual) {if (!qual) return quality_texts["default"]; return quality_texts[qual.toLowerCase()] || quality_texts["default"]}
- function location_name(type) {if (!type) return location_names["default"]; return location_names[type.toLowerCase()] || location_names["default"]}
- function price_text(price, price_type) {
-   var rub;
-   if (isNaN(price)) price = 0;
-   if (price_type == "v" || price_type == "s") {
-     rub = Math.floor(price); cop = Math.round((price - rub) * 100);
-     return (rub?rub + " р.":"") + (cop?(rub?" ":"") + cop + " коп.":"");
-   } else if (price_type == "f") {
-      return "бесплатно";
-   } else return "";
- }
- function duration_text(min) {
-   var ho, mi;
-   ho = Math.floor(min / 60); mi = min - ho*60;
-   res = ho?ho + cardinal(ho, " час", " часа", " часов"):"";
-   if (mi) res+= (res?" ":"") + mi + cardinal(mi, " минута", " минуты", " минут")
-   return res || "0 минут";
- }
- function date_text(dt) {
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear();
- }
- function time_text(dt) {
-   var diff, curday, curtime, ho;
-   curtime = dt.getTime();
-   diff = (date_now.getTime() - curtime) / 1000;
-   if (diff < 60) return "сейчас";
-   if (diff < 3600) {
-       min = Math.floor(diff / 60)
-       return min + cardinal(min, " минуту", " минуты", " минут") + " назад"
-   }
-   curday = Math.floor(date_now.getTime() / 86400) * 86400;
-   if (curday < curtime) {
-       ho = Math.floor(diff / 3600);
-       if (ho <= 6) {
-           return ho + cardinal(ho, " час", " часа", " часов") + " назад";
-       } else return "сегодня";
-   }
-   if ((curday - 86400) < curtime) return "вчера";
-   if (dt.getFullYear() == date_now.getFullYear()) return dt.getDate() + " " + months[dt.getMonth()];
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear();
- }