meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
title Всё видео
link(href='static/css/bootstrap.css', rel='stylesheet')
link(href='static/css/style.css', rel='stylesheet')
link(href='static/3d/rateit/rateit.css', rel='stylesheet')