- var logo_src = "img/logo.gif"
header
    .container
        .col-md-4.text-left
            if (isMainPage)
                img(src= logo_src)
            else
                a(href="/")
                    img(src= logo_src)
        .col-md-4
            form#frm_search.form-inline(method="get")
                .form-group
                    label.sr-only(for="inp_search" name="q") Поисковая фраза
                    input(type="search",placeholder="Начинайте вводить...",name="text").form-control#inp_search
                button.btn.btn-default(type="submit")#inp_button Искать
        .col-md-4.text-right
            include part_userplace
    .container
        .col-md-8
            .col-md-4
                a(href="#")
                    h2 Фильмы
            .col-md-4
                a(href="#")
                    h2 Сериалы
        .col-md-4
            .col-md-4
                a(href="#")
                    h3 Плейлист
            .col-md-4
                a(href="#")
                    h3 Лента
if header_title
    .container
        h1=header_title