meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
title #{title ? title : "Всё видео"}
link(href='css/bootstrap.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
link(href='3d/rateit/rateit.css', rel='stylesheet')
// link(href='css/bootstrap-theme.min.css', rel='stylesheet')