header
    .header-top
        .container
            .col-md-3.col-sm-5.user-place
                .avatar
                    img(src="static/img/tmp/user.gif").img-circle.img-responsive
                ul.user-menu
                    li
                        a(href="#") Профиль
                    li
                        a(href="#") Выход
            .col-md-3.col-sm-7.logo
                .md-padding.md-vmiddle
                    span.md-vmiddle-helper
                    a(href="#")
                        img(src="static/img/logo.png",alt="Всё видео")
            form.col-md-6.col-sm-12.search#frm_search
                    input(type="search",name="text",placeholder="Поиск по сайту").inp-search#inp_search
                    input(type="submit",value="Найти").btn-submit#inp_search
    .header-menu
        .container
            .col-md-8.main-menu
                ul.list-inline
                    li.active
                        .films
                            p
                                a(href="#") Фильмы
                    li
                        .serials
                            p
                                a(href="#") Сериалы
                    li
                        .tv
                            p
                                a(href="#") ТВ-программы
                    li
                        .stream
                            p
                                a(href="#") Онлайн-трансляции
            .col-md-4.sub-menu
                ul.list-inline
                    li
                        .playlist
                            p
                                a(href="#") Плейлист
                    li
                        .feed
                            p
                                a(href="#") Лента
