header
    .top-block-wrapper
        .container
            .col-md-3.col-sm-3.top-logo-place
                img(src=conf.logo_src,alt="Всё видео")
                &nbsp;
            .col-md-6.col-sm-6.top-search-place
                form#frm_search.form-inline(method="get")
                    .form-group
                        label.sr-only(for="inp_search" name="q") Поиск по сайту
                        input(type="search",placeholder="Поиск по сайту",name="text").form-control#inp_search
                        button.btn.btn-default(type="submit")#btn_submit Поиск
                &nbsp;
            .col-md-3.col-sm-3.top-user-place
                mixin user_place({name: "Василий Пупкин", is_auth: true, id: 2873})
    .menu-block-wrapper
        .container.text-center
            ul
                li
                    a(href="#") Фильмы
                li
                    a(href="#") Сериалы
                li
                    a(href="#") Плейлист
                li
                    a(href="#") Лента
//if header_title
    .container
        h1=header_title