{% __pyjade_kwacro anchor_list list, url %}
    {% __pyjade_set anchor_first_element = true %}
    {% for item in list|__pyjade_iter:1 %}
        {% if  anchor_first_element %}
            {% __pyjade_set anchor_first_element = "" %}
        {% else %}
            {% __pyjade_set anchor_first_element = ", " %}
        {% endif %}
        <a{% __pyjade_attrs attrs=[('href',(url.replace("%", item.id)))] %}>{{item.name|force_escape}}</a>
        {% __pyjade_set anchor_first_element = false %}{% endfor %}{% end__pyjade_kwacro %}{% __pyjade_kwacro person_thumb person, id %}
<div{% __pyjade_attrs attrs=[('id',(id?id:("person_thumb_" + person.id))), ('style',('background-image:url("' + (person.photo || conf.noperson_url) + '")'))] %} class="person-thumb">
  <p><a{% __pyjade_attrs attrs=[('href',("/person/"+person.id))] %} class="name">{{person.name|force_escape}}</a>
  </p>
</div>{% end__pyjade_kwacro %}

{% __pyjade_kwacro user_thumb user, id %}
<div{% __pyjade_attrs attrs=[('id',(id?id:("user_thumb_" + user.id))), ('style',('background-image:url("' + (user.avatar || conf.noavatar_url) + '")'))] %} class="user-thumb">
  <p><a{% __pyjade_attrs attrs=[('href',("/user/"+user.id))] %} class="name">{{user.name|force_escape}}</a>
  </p>
</div>{% end__pyjade_kwacro %}

{% __pyjade_kwacro film_thumb item, id %}
<div{% __pyjade_attrs attrs=[('id',(id?id:("film_thumb_"+item.id)))] %} class="film-thumb col-md-3">
  <div style="background-image: url("" + item.poster?item.poster:conf.noposter_url +="())" class="poster-place"></div>
  <div{% __pyjade_attrs attrs=[('class', (("rating-place") , (item.rating?"":"invisible")))] %}>
    <p class="rating">{{item.rating|force_escape}}
    </p>
  </div>
  <div class="name-place"><a href="#" class="name">{{item.name|force_escape}}</a><span>' (<span class="year">' + {{item.year}} + "</span>)"</span>
  </div>
  <div class="userrel-place">
    <div data-rateit-max="10" data-rateit-resetable="0"{% __pyjade_attrs attrs=[('data-rateit-value',(relation && relation.rating?relation.rating:0))] %} class="rateit rate"></div>
    <button class="notwatch-btn">N</button>
  </div>
  <div class="button-place">
    <div{% __pyjade_attrs attrs=[('class', (("instock") , (item.instock?"":"display-none")))] %}>{% __pyjade_set out_watch = "СМОТРЕТЬ" + (item.hasFree?"<br/>БЕСПЛАТНО":'<br/><span>от <span class="price">' + item.price + "</span> р. без рекламы</span>") %}
      <button{% __pyjade_attrs attrs=[('class', (("action-button") , (item.hasFree?"":"action-priced")))] %}>{{out_watch|escape}}</button>
      <div{% __pyjade_attrs attrs=[('class', (("watchprice") , ((item.hasFree && item.price)?"":"invisible")))] %}>или<br/>
<a href="#">от <span class="price">{{item.price|escape}}</span> р. без рекламы</a>
      </div>
    </div>
    <div{% __pyjade_attrs attrs=[('class', (("notinstock") , (item.instock?"display-none":"")))] %}>
      <button class="action-button action-subscribe">ПОДПИСАТЬСЯ</button>
      <div class="watchprice">&nbsp;<br/>&nbsp;</div>
    </div>
  </div>
</div>{% end__pyjade_kwacro %}

{% __pyjade_kwacro comment_thumb item, id %}
<div{% __pyjade_attrs attrs=[('id',(id?id:("comment_" + item.id)))] %} class="comment-thumb">
  <div class="avatar-place"><img{% __pyjade_attrs attrs=[('src',(item.user.avatar))] %} || conf.noavatar_url="|| conf.noavatar_url" class="img-responsive img-circle"/>
  </div>
  <div class="text-place">
    <div class="info">
      <div class="time">time_text(new Date({{item.created|force_escape}}))</div>
      <div class="name"><a{% __pyjade_attrs attrs=[('href',("/user/"+item.user.id)), ('data-user-id',(item.id))] %}>{{item.user.name|force_escape}}</a>
      </div>
    </div>
    <div class="text">{{item.text}}</div>
  </div>
</div>{% end__pyjade_kwacro %}

{% __pyjade_kwacro location_thumb item, id %}
<div{% __pyjade_attrs attrs=[('id',(id?id:(item.id?"loc_thumb_" + item.id:"")))] %} class="location-thumb">
  <div class="btn-place">
    <button>quality_text({{item.quality|escape}})</button>
  </div>
  <div class="info-place">
    <p class="name">location_name({{item.type|escape}})</p>
    <p class="price">
        {% if  item.price_type == "f" %}смотреть бесплатно
        {% else %}
            {% if  item.price %}
                {{item.price|force_escape}} р.
            {% endif %}
        {% endif %}
    </p>
  </div>
</div>{% end__pyjade_kwacro %}

{% __pyjade_kwacro user_place user %}
<div id="usr_reg_place"{% __pyjade_attrs attrs=[('class', ((user.is_auth?"":"display-none")))] %}>
  <div class="avatar-place"><img{% __pyjade_attrs attrs=[('src',(conf.noavatar_url))] %} class="img-circle"/>
  </div>
  <div class="name-place">
    <p><a href="account.html"><strong>{{user.name|escape}}<br/></strong></a><a href="logout.html">Выйти</a>
    </p>
  </div>
</div>
<div id="usr_guest_place"{% __pyjade_attrs attrs=[('class', ((user.is_auth?"display-none":"")))] %}>
  <ul class="list-inline list-unstyled">
    <li><a href="register.html">Регистрация</a>
    </li>
    <li><a href="login.html">Войти</a>
    </li>
  </ul>
</div>{% end__pyjade_kwacro %}
