doctype html5
include mixins
html(lang="ru")
    include head
    body.page-reglog
        include header
        .content-blue-wrapper
            .container
                h2 Авторизация
                form#frm_login(method="post")
                    input(type="hidden",name="csrfmiddlewaretoken",value=csrf_token)
                    h4 введите логин и пароль
                    .form-group
                        input(type="email",name="username",placeholder="Эл. почта",required="required")#inp_email
                    .form-group
                        if (error && error.password)
                            div(style="color: red") wrong password
                        input(type="password",name="password",placeholder="Пароль",required="required")#inp_password
                    .form-group
                        p
                            a(href="#") Забыли пароль?
                        input(type="submit",value="Войти")#btn_submit
                h4 или используйте один из сервисов
                ul.list-inline.social
                    li
                        a(href="/login/facebook")
                            img(src="static/img/social-fb.png",alt="Зарегистрироваться через Фейсбук")
                    li
                        a(href="/login/twitter/")
                            img(src="static/img/social-twitter.png",alt="Зарегистрироваться через Твиттер")
                    li
                        a(href="/login/google-oauth2/")
                            img(src="static/img/social-rss.png",alt="Зарегистрироваться через Google+")
                    li
                        a(href="/login/vk-oauth/")
                            img(src="static/img/social-vk.png",alt="Зарегистрироваться через ВКонтакте")
        include footer
        script.
            $(document).ready(function () {window.InitApp({}, "Login")})