<!-- Created by Mimoid on 28.03.2014.-->{% __pyjade_set title = "Всё видео - Фильмы" %}{% __pyjade_set filter_genres = {0: "все жанры", 1: "Аниме", 2: "Боевик", 3: "Комедия", 4: "Семейный"} %}{% __pyjade_set filter_year_old = {0: "все фильмы", 1: "этого года", 3: "самые свежие", 8: "свежие", 15: "новые", 20: "не старые"} %}{% __pyjade_set filter_price = {0: "бесплатно", 50: "до 50 рублей", 100: "до 100 рублей", 200: "до 200 рублей", 9999: "любая стоимость"} %}{% __pyjade_set filter_rating = {0: "любой рейтинг", 5: "включая плохие", 6: "неплохие", 6.5: "хорошие", 7: "отличные", 8: "самые лучшие"} %}{% __pyjade_set filter_sort = {"rating": "рейтингу", "subscribes": "подпискам"} %}
<html class="index-page">{% include "jade/head.html" %}
  <body>{% include "jade/header.html" %}
    <div class="new-wrapper">
      <div class="container">
        <h2>Новинки</h2>
        <div id="new_place">{% for item in films_new|__pyjade_iter:1 %}{% __pyjade_usekwacro film_thumb item %}{% endfor %}
        </div>
      </div>
    </div>
    <div class="recommends-wrapper">
      <div class="container">
        <h2>Рекомендации</h2><a name="filter"></a>
        <div class="filter-place">
          <form id="frm_filter" class="form-inline frm-filter">
            <div class="col-md-7">
              <div class="form-group">
                <label for="sel_genre" class="hidden">жанры</label>
                <select id="sel_genre" class="form-control">{% for item,i in filter_genres|__pyjade_iter:2 %}
                  <option{% __pyjade_attrs attrs=[('value',(i))] %}>{{item|force_escape}}</option>{% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="sel_year_old" class="hidden">новизна</label>
                <select id="sel_year_old" class="form-control">{% for item,i in filter_year_old|__pyjade_iter:2 %}
                  <option{% __pyjade_attrs attrs=[('value',(i))] %}>{{item|force_escape}}</option>{% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="sel_raiting" class="hidden">рейтинг</label>
                <select id="sel_rating" class="form-control">{% for item,i in filter_rating|__pyjade_iter:2 %}
                  <option{% __pyjade_attrs attrs=[('value',(i))] %}>{{item|force_escape}}</option>{% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="sel_price" class="hidden">стоимость</label>
                <select id="sel_price" class="form-control">{% for item,i in filter_price|__pyjade_iter:2 %}
                  <option{% __pyjade_attrs attrs=[('value',(i))] %}>{{item|force_escape}}</option>{% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-5 sort-place">
              <div class="form-group">
                <label for="sel_sort">сортировать по</label>
                <select id="sel_sort" class="form-control">{% for item,i in filter_sort|__pyjade_iter:2 %}
                  <option{% __pyjade_attrs attrs=[('value',(i))] %}>{{item|force_escape}}</option>{% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
        <div id="films_place" class="films-place">{% for item in films|__pyjade_iter:1 %}{% __pyjade_usekwacro film_thumb item %}{% endfor %}
        </div>
        <div class="clearfix"></div>
        <div id="load_more_place" class="load-more-place">
          <button id="btn_loadmore">мало, хочу ещё фильмы</button>
        </div>
      </div>
    </div>
    <div class="comments-wrapper">
      <div class="container">
        <h2>Резенции</h2>
      </div>
    </div>{% include "jade/footer.jade" %}
    <script>$(document).ready(function () {window.InitApp({}, "Main")})

</script>
  </body>
</html>
