doctype html
html
    include config
    - page_title = "Восстановление пароля"
    include head
    body
        .wrap-page.bg-noise
            include header
            .content(role='main')
                section.blue-block
                    .bg-noise
                        .container
                            p Ваш email подтвержден
            include footer
