doctype html5
include mixins
html(lang="ru")
    include head
    body
        include header
        .films-new-wrapper
            .container
                h2 Новинки
                .films-new#films_new
                    each item in new_films
                        mixin film_thumb(item)
        .films-wrapper
            .container
                h2 Рекомендуемое
                .filter-place
                    form.filter#frm_filter
                        .filter-sort
                            | сортировать по
                            .select-wrapper
                                select#sel_sort(name="sort")
                                    option(value="rating") рейтингу
                                    option(value="subscribes") подпискам
                        .filter-main
                            .select-wrapper
                                select#sel_genre(name="genre")
                                    option(value="1") любого жанра
                                    option(value="2") аниме
                                    option(value="3") боевик
                            .select-wrapper
                                select#sel_rating(name="rating")
                                    option(value="0") любого рейтинга
                                    option(value="5") включая плохие
                                    option(value="6") неплохие
                                    option(value="7") хорошие
                                    option(value="7.5") отличные
                                    option(value="8") самые лучшие
                            .select-wrapper
                                select#sel_price(name="price")
                                    option(value="999") любой стоимости
                                    option(value="0") только бесплатные
                                    option(value="50") не дороже 50 руб.
                                    option(value="100") не дороже 100 руб.
                                    option(value="150") не дороже 150 руб.
                            .select-wrapper
                                select#sel_year_old(name="year_old")
                                    option(value="999") любого года
                                    option(value="1") этого года
                                    option(value="3") самые свежие
                                    option(value="5") свежие
                                    option(value="10") новые
                                    option(value="15") не старые

                    .shadow
            .container.films#films
            .container
                .films-more#films_more_place
                    button#films_more_btn
                       span Мало, хочу ещё фильмов
                    .shadow
        .comments-wrapper
            .container
                h2 Рецензии
                .comments-place
                    .col-md-4.comment-place
                        .comment-wrapper
                            .comment
                                a(href="#")
                                    h4 Первый мститель: Другая война
                                .rating
                                    strong Оценка:
                                    | Отлично
                                .text
                                    | Очень жду выхода второй части этого фильма. Думаю, что очень понравится. Я даже не сомневаюсь в этом. Как только выйдет сразу в кино побегу=)
                        .user
                            .avatar
                                img(src="static/img/tmp/user.gif").img-circle
                            .name
                                a(href="#") Анна Иванова
                            .city Москва
                .comments-place
                    .col-md-4.comment-place
                        .comment-wrapper
                            .comment
                                a(href="#")
                                    h4 Робокоп
                                .rating
                                    strong Оценка:
                                    | Хорошо
                                .text
                                    | Марти Макфлай, ты ли это? Я уже ничему не удивляюсь, вон - народ уже Хоббита вовсю оценивает. А на самом деле оценивайте то, что вы смотрели, а именно короткий 20-ти минутный мультфильм &quot;Как приручить дракона: дар ночной фурии&quot;. Ибо так ваши оценки и отзывы к мультфильму, который еще не вышел и трейлер которого (трейлер аж на 20 минут - вот так новость! ) вы якобы видели, не соизволив как следует разобраться, а трейлер ли это был, выглядят как минимум смешно.
                        .user
                            .avatar
                                img(src="static/img/tmp/user.gif").img-circle
                            .name
                                a(href="#") Вася Капуста
                            .city Брянск
                .comments-place
                    .col-md-4.comment-place
                        .comment-wrapper
                            .comment
                                a(href="#")
                                    h4 Звёздные войны IV
                                .rating
                                    strong Оценка:
                                    | Отлично
                                .text
                                    | Очень понравилась первая часть, но я считаю, что в ней была полная и оконченная история, снимать дальше уже не надо. Что там можно продолжать? Почему бы не придумать другую историю?
                        .user
                            .avatar
                                img(src="static/img/tmp/user.gif").img-circle
                            .name
                                a(href="#") Максим Перцев
                            .city Москва
        include footer
        script.
            $(document).ready(function () {window.InitApp({}, "Main")})