doctype html5
include mixins
html(lang="ru")
    include head
    body.page-film
        include header
        .films-wrapper
            .container
                h1 Волк с Уолл-стрит <em>The wolf of Wall Street</em>
                .player-place
                    .player#player
        .container.film-info
            .col-md-3.poster-place
                .poster
                    img.img-responsive(src="static/img/tmp/poster1.jpg")
            .col-md-6.info-place
                table
                    tr
                        th Страна
                        td США
                    tr
                        th Режиссёр
                        td
                            a(href="#") Мартин Скорсезе
                    tr
                        th Сценарист
                        td
                            a(href="#") Теренс Уинтер
                            |,
                            a(href="#") Джордан Белфорт
                    tr
                        th Дата выхода
                        td 1 января
                    tr
                        th Время
                        td 3 часа 10 минут
            .col-md-3.rating-place
                .rating-header Сводный рейтинг
                .rating-cons-cnt
                    p 8565 голосов
                .rating-cons-place
                    .rating-cons 8.5
                .rating-all
                    p <strong>8.9</strong> Рейтинг в <em>КП</em>
                    p <strong>7.5</strong> Рейтинг в <em>IMDB</em>
        .container
            .col-md-9
                .description-place
                    h2 Описание
                    .description.
                        Метод HEAD.<br/>Метод HEAD аналогичен методу GET, за исключением того, что сервер ничего не посылает     в информационной части ответа. Метод HEAD запрашивает только информацию заголовка о
                        файле и ресурсе. Инфоримация заголовка запроса HEAD должна быть такой же, как в запросе
                        GET.
                        Этот метод используется, когда клиент хочет найти информацию о документе, не получая
                        его. Для метода HEAD существует множество приложений. Например, клиент может
                        затребовать следующую информацию:
                        * время изменения документа ( эти данные полезны для запросов, связанных с кэш-памятью);
                        * размер документа (необходим для компоновки страницы, оценки времени передачи,
                        определения необходимости запроса более компактной версии документа);
                        * тип документа (позволяет клиенту изучать документы только определенного типа);
                        * тип сервера;
                        Следует отметить, что большая часть информации заголовка, которую посылает сервер, не
                        является обязательной и может предоставляться не всеми срверами.
                        Ниже приведен пример HTTP-транакции с использованием запроса HEAD. Клиент посылает
                .trailer-place
                .comments-place
                    h2 Комментарии
                    #comments
                        mixin comment_thumb({id: 1, text: "lorem ipsum ipsum lorem", time_text: "5 минут назад", created: "2014-05-01 19:01:02", user: {id: 1, name: "Василий Пастеров"}})
                        mixin comment_thumb({id: 1, text: "lorem ipsum ipsum lorem", time_text: "5 минут назад", created: "2014-05-01 19:01:02", user: {id: 1, name: "Василий Пастеров"}})
                .comments-more-place#comments-more-place
                    button#comments-more-btn
                        span Показать ещё
            .col-md-3.actors-place#actors
                h2 Актёры
                mixin person_thumb({name: "Роберт Дениро"})
                mixin person_thumb({name: "Арнольд Шварценегер"})
                // actors mixins
        .clearfix
        .container.films
            h2 Рекомендуемое
            #films
                mixin film_thumb({id: 1, name: "Самый лучший фильм лучший фильм", year: 2014, relation: {rating: 5}, rating: {cons: 5.6}, poster: "static/img/tmp/poster1.jpg", instock: true, price: 100})
                mixin film_thumb({id: 2, name: "Самый лучший фильм", year: 2011, relation: {rating: 5}, rating: {cons: 8.6}, poster: "static/img/tmp/poster1.jpg", instock: true, hasFree: true})
                mixin film_thumb({id: 3, name: "Самый лучший фильм", year: 2001, relation: {rating: 8}, rating: {cons: 7}, poster: "static/img/tmp/poster1.jpg", instock: false})
                mixin film_thumb({id: 4, name: "Самый лучший фильм", year: 1970, relation: {rating: 3}, rating: {cons: 9.1}, poster: "static/img/tmp/poster1.jpg", instock: true, hasFree: true, price: 100})
                mixin film_thumb({id: 1, name: "Самый лучший фильм лучший фильм", year: 2014, ralation: {rating: 5}, rating: {cons: 5.6}, poster: "static/img/tmp/poster1.jpg", instock: true, price: 100})
                mixin film_thumb({id: 2, name: "Самый лучший фильм", year: 2011, relation: {rating: 5}, rating: {cons: 8.6}, poster: "static/img/tmp/poster1.jpg", instock: true, hasFree: true})
                mixin film_thumb({id: 3, name: "Самый лучший фильм", year: 2001, relation: {rating: 8}, rating: {cons: 7}, poster: "static/img/tmp/poster1.jpg", instock: false})
                mixin film_thumb({id: 4, name: "Самый лучший фильм", year: 1970, relation: {rating: 3}, rating: {cons: 9.1}, poster: "static/img/tmp/poster1.jpg", instock: true, hasFree: true, price: 100})
        include footer
        script.
            $(document).ready(function () {window.InitApp({}, "Film")})
