include config
include head
body
    .wrap-page
        include header
        .content(role='main')
            section.broun-block-playlist
                .container
                    .big-text=item.error
                    .sad-text!=item.text
        include footer
        script.
            $(document).ready(function () {window.InitApp()})