include head
body
    include header
    .content(role='main')
        section.blue-block
            .container
                h1.whiteh1 Вход на сайт
                .enter-block.row
                    .col-md-5
                        .form-enter
                            p C помощью E-mail
                            form.form-horizontal(role='form')
                                .form-group
                                    label.col-sm-2.control-label(for='inputEmail3') Email
                                    .col-sm-10
                                        input#inputEmail3.form-control(type='email')
                                .form-group
                                    label.col-sm-2.control-label(for='inputPassword3') Пароль
                                    .col-sm-10
                                        input#inputPassword3.form-control(type='password')
                                .form-group
                                    .col-sm-offset-2.col-sm-10
                                        button.btn.btn-yellow1(type='submit') Войти
                        //
                           .form-enter
                    .col-md-7
                        .more-enter.margin0a
                            p C помощью соц.сетей
                            ul
                                li
                                    a(href='/login/vk-oauth', title='')
                                        img(src='static/img/i-vk-b.png', alt='')
                                        | ВКонтакте
                                li
                                    a(href='/login/facebook', title='')
                                        img(src='static/img/i-fb-b.png', alt='')
                                        | Facebook
                                li
                                    a(href='/login/twitter', title='')
                                        img(src='static/img/i-tw-b.png', alt='')
                                        | Twitter
                                li
                                    a(href='/login/google-oauth2', title='')
                                        img(src='static/img/i-go-b.png', alt='')
                                        | Google +
                        //
                           .more-enter
                //
                   .enter-block
        //
           .blue-block
    //
       .content
    include footer
    script.
        $(document).ready(function () {window.InitApp({}, "Login")})