include ../../jade/config
include ../../jade/mixins

mixin cast_thumb({id: "NA", name: "", year: "", relation: {}, rating: {}, poster: "", releasedate: "", start: new Date(), start_in: '', locations: []})