include ../../jade/config
include ../../jade/mixins
- cast = {"id": "na", "title": "", "title_orig": "", "description": null, "status": null, "pg_rating": "", "start": "2014-10-20T11:00:00Z", "duration": null, "tags": [], "poster": noposter_url, "locations": []}
mixin cast_thumb(cast)