- var films_new = [{id: 1, name: "Самый лучший фильм Самый лучший фильм ", year: 2013, rating: 0, instock: true, hasFree: true}, {id: 2, name: "Ещё один фильмец", year: 2012, rating: 5.5, instock: true, price: 200}, {id: 1, name: "Самый лучший фильм Самый лучший фильм ", year: 2013, rating: 0, instock: true, hasFree: true}, {id: 2, name: "Ещё один фильмец", year: 2012, rating: 5.5, instock: true, price: 200}]
- var films = [{id: 1, name: "Самый лучший фильм", year: 2013, rating: 0, instock: true, price: 100, hasFree: true}, {id: 2, name: "Ещё один фильмец", year: 2012, rating: 5.5}]
include jade/page_index
