- user = {id: 10, name: "Василий Пастеров", regdate: "2014-04-15", friends_cnt: 100, films_watched: 150, comments_cnt: 351, genre_fav: {id: 2, name: "триллер"}, avatar: "static/img/tmp/user.gif", relation: "f"}
- user.friends = [{id: 1, name: "Настя Куликова"}, {id: 2, name: "John Malcovich"}]
- user.genres = [{id: 1, name: "триллер", percent: 80}, {id: 2, name: "боевик", percent: 40}, {id: 2, name: "коммедии", percent: 35}]
- films_subscribed = [{id: 1, name: "Самый лучший фильм Самый лучший фильм ", year: 2013, rating: 0, instock: true, hasFree: true}, {id: 2, name: "Ещё один фильмец", year: 2012, rating: 5.5, instock: true, price: 200}, {id: 1, name: "Самый лучший фильм Самый лучший фильм ", year: 2013, rating: 0, instock: true, hasFree: true}, {id: 2, name: "Ещё один фильмец", year: 2012, rating: 5.5, instock: true, price: 200}]
- actors_fav = [{id: 10, name: "Стивен Спилберг"}, {id: 15, name: "Джеймс Белуши"}]
- directors_fav = [{id: 10, name: "Стивен Спилберг"}, {id: 15, name: "Джеймс Белуши"}]
- feed = []
include jade/page_user