[database]
DATABASE_ENGINE: django.db.backends.postgresql_psycopg2
DATABASE_HOST: localhost
DATABASE_NAME: videobase
DATABASE_USER: pgadmin
DATABASE_PASSWORD: qwerty
DATABASE_PORT: 5432
[testbase]
DATABASE_ENGINE: django.db.backends.postgresql_psycopg2
DATABASE_HOST: localhost
DATABASE_NAME: test_base
DATABASE_USER: pgadmin
DATABASE_PASSWORD: qwerty
DATABASE_PORT: 5432