{% extends "base_feed.html" %}
        {% block feeditems %}
            {% for film, actors, directors, poster, trailer, scriptwriter, cost in films %}
                <item>
                  <title>{{film.name}}</title>
                  <link>http://vsevi.ru/film/{{film.id}} </link>
                  <enclosure url="{{ poster }}" type="image/jpeg"/>
                  <description><![CDATA[Новинка в кинотеатре "Все видео": Фильм "{{ film.name }}"({{ film.name_orig }}, год: {{film.release_date.year}})
                      Сводный рейтинг: {{ film.rating_cons}}/10
                      Смотреть: http://vsevi.ru/film/{{film.id}}
                      Стоимость:{{ cost }}.
                      В ролях: {{ actors }}.
                      Жанр: {% for ganre in film.genres.all %} #{{ganre.name}} {% endfor %}
                      Режиссер: {{ directors }}.
                     {{film.description}} http://vsevi.ru/film/{{film.id}}]]>
                  </description>
                  <pubDate>
                    {{date }}
                  </pubDate>
                  <guid>http://vsevi.ru/film/{{film.id}}</guid>
                </item>
            {% endfor %}
        {% endblock %}