{% extends "base_feed.html" %}

{% block feeditems %}
  {% for film, actors, directors, poster, trailer, scriptwriters, cost in films %}
    <item>
      <title>{{ film.name }}</title>
      <link>http://vsevi.ru/film/{{ film.id }}/</link>
      <enclosure url="{{ poster }}" type="image/jpeg"/>
      <description>
        <![CDATA[Сводный рейтинг: {{ film.rating_cons }}/10/<br />
        В ролях: {{ actors }}<br />
        Режиссер: {{ directors }} Сценарист: {{ scriptwriter }}.<br />
        Жанр:{% for ganre in film.genres.all %} {{ ganre.name }},{% endfor %}<br />
        Стоимость: {{ cost }}.<br />
        {{ film.description }}]]>
    </description>
      <pubDate>
        {{ date }}
      </pubDate>
      <guid>http://vsevi.ru/film/{{ film.id }}/</guid>
    </item>
  {% endfor %}
{% endblock %}
