{% extends "base_feed.html" %}
        {% block feeditems %}
            {% for film, actors, directors, poster, trailer, scriptwriters, cost in films %}
                <item>
                  <title>{{film.name}}</title>
                  <link>http://vsevi.ru/film/{{film.id}} </link>
                  <enclosure url="{{ poster }}" type="image/jpeg"/>
                  <description>
                    Сводный рейтинг: {{ film.rating_cons}}/10
                    В ролях: {{actors}}.
                    Режиссер: {{ directors }} Сценарист: {{ scriptwriter}}.
                    Жанр: {% for ganre in film.genres.all %} {{ganre.name}},{% endfor %}
                    Стоимость: {{ cost }}.
                    {{ film.description }}
                </description>
                  <pubDate>
                    {{ date }}
                  </pubDate>
                  <guid>http://vsevi.ru/film/{{film.id}}</guid>
                </item>
            {% endfor %}
        {% endblock %}