<form method="post" action="/users/restore_password/">
    {% csrf_token %}
    <label for="to">Email</label>
    <input type="text" name="to">
    <input type="submit" name="restore" value="Restore">
</form>