- item = {error: 500, text: 'Похоже что-то поломалось. <a href="mailto:support@vsevi.com">Сообщите нам об этом</a> или перейдите на <a href="/">главную страницу</a> - там точно всё работает.'}
include ../jade/page_http_error