<!DOCTYPE html>
<html><head><meta charset="utf-8"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body style="background: #fff; font-family: Arial, sans-serif; font-size: 14px; line-height: 1; margin: 0; padding: 0;">
<table style="width: 800px; border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;" cellpadding="0" cellspacing="0"><tr class="logo-block" style="background: #322a2a; height: 76px;"><td style="padding-left: 20px; vertical-align: middle;"><a href="http://vsevi.ru" title="Все видео" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/logo-header.png" alt="" title=""></a></td>
    <td style="text-align: right; padding-right: 20px; vertical-align: middle;">
        <a href="http://vk.com/vsevi" title="Страница ВсеВидео в Вконтакте" rel="nofollow" target="_new" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/i-vk.png" style="height: 30px; width: 30px;" alt="" title=""></a>
        <span class="social-icon-spacing" style="padding: 4px;">&nbsp;</span>
        <a href="http://www.odnoklassniki.ru/group/53196730400877" rel="nofollow" target="_new" title="Страница ВсеВидео в Одноклассниках" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/i-ok.png" style="height: 30px; width: 30px;" alt="" title=""></a>
        <span class="social-icon-spacing" style="padding: 4px;">&nbsp;</span>
        <a href="https://twitter.com/vseviru" rel="nofollow" target="_new" title="Страница ВсеВидео в Твиттере" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/i-tw.png" style="height: 30px; width: 30px;" alt="" title=""></a>
        <span class="social-icon-spacing" style="padding: 4px;">&nbsp;</span>
        <a href="https://www.facebook.com/vseviru" title="Страница ВсеВидео на Фейсбуке" rel="nofollow" target="_new" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/i-fb.png" style="height: 30px; width: 30px;" alt="" title=""></a>
        <span class="social-icon-spacing" style="padding: 4px;">&nbsp;</span>
        <a href="http://vsevi.ru/rss/feed" title="RSS новинок на ВсеВидео" rel="nofollow" target="_new" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/i-rss.png" style="height: 30px; width: 30px;" alt="" title=""></a>
    </td>
</tr></table><!--- ЛУЧШИЕ 10 ФИЛЬМОВ ЗА НЕДЕЛЮ --><table style="width: 800px; background: #005685; border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;" cellpadding="0" cellspacing="0"><tr style="height: 45px;"><th colspan="5" style="vertical-align: bottom;"><h1 class="dots1 centerh1 whiteh1" style="color: #fff; font-size: 16px; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; text-shadow: 0px 2px 1px #444; text-align: center; background: url('top-10-films_serials_casts/dots1.png') center center no-repeat;">Лучшие 10 фильмов за неделю</h1></th>
</tr><tr style="height: 30px"><td style="width: 110px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 20px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 110px; vertical-align: top;">&nbsp;</td>
</tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/707/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail//static/img/mail/top-10-films_serials_casts/top_10_1.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/707/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Хеллбой II: Золотая армия</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2008)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">7.6</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free" style="vertical-align: middle; background: #ffcd00; width: 280px; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/707/" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть<br>бесплатно</a></td></tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/27434/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_2.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/27434/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Парень-каратист 2</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(1986)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">7.6</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free-small" style="vertical-align: middle; width: 165px; background: #ffcd00; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/27434" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
        <td class="btn-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
        <td class="btn-watch-small" style="vertical-align: middle; width: 110px; background: #ff9700; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/27434" class="label-price" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: normal; text-transform: none;">или от 49 р.<br>без рекламы</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-film-separator" style="height: 70px;"><td colspan="5" style="vertical-align: middle;"><hr class="hr-blue" style="border-style: none; height: 1px; background-image: url('top-10-films_serials_casts/item-delim-blue.png');"></td></tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/14263/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_3.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/14263/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">88 минут</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2007)</span>
            </a>
        </td>
            <td style="vertical-align: top;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">6.4</span></td>
        </tr><tr><td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch" style="vertical-align: middle; width: 280px; background: #ff9700; height: 50px; text-align: center;">
        <a href="http://vsevi.ru/films/27434" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">
            <span class="label-watch" style="color: #232323; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть</span><br><span class="label-price" style="color: #232323; font-size: 14px; font-weight: normal; text-transform: none;">от 49 р. без рекламы</span>
        </a>
    </td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/29258/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_4.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/29258/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Буйнопомешанные</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2007)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">6.4</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch" style="vertical-align: middle; width: 280px; background: #ff9700; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/29258/#41846" style="color: inherit; text-decoration: inherit;">
        <span class="label-watch" style="color: #232323; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть</span><br><span class="label-price" style="color: #232323; font-size: 14px; font-weight: normal; text-transform: none;">от 49 р. без рекламы</span></a>
    </td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-film-separator" style="height: 70px;"><td colspan="5" style="vertical-align: middle;"><hr class="hr-blue" style="border-style: none; height: 1px; background-image: url('top-10-films_serials_casts/item-delim-blue.png');"></td></tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/604/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_5.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/604/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Загадочная история Бенджамина Баттона</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2007)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">9.2</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch" style="vertical-align: middle; width: 280px; background: #ff9700; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/604/#41842" style="color: inherit; text-decoration: inherit;">
        <span class="label-watch" style="color: #232323; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть</span><br><span class="label-price" style="color: #232323; font-size: 14px; font-weight: normal; text-transform: none;">от 49 р. без рекламы</span>
    </a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/37670/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_6.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/37670/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Мечтатель</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(1986)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">7.4</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free-small" style="vertical-align: middle; width: 165px; background: #ffcd00; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/37670/#player" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
        <td class="btn-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
        <td class="btn-watch-small" style="vertical-align: middle; width: 110px; background: #ff9700; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/37670/#41853" class="label-price" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: normal; text-transform: none;">или от 49 р.<br>без рекламы</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-film-separator" style="height: 70px;"><td colspan="5" style="vertical-align: middle;"><hr class="hr-blue" style="border-style: none; height: 1px; background-image: url('top-10-films_serials_casts/item-delim-blue.png');"></td></tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/24134/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_7.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/24134/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Дело о пеликанах</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(1993)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">6.9</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free" style="vertical-align: middle; background: #ffcd00; width: 280px; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/24134/" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/15121/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_8.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/15121/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Альфа Дог</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2007)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">7.4</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free-small" style="vertical-align: middle; width: 165px; background: #ffcd00; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/15121/#player" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
        <td class="btn-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
        <td class="btn-watch-small" style="vertical-align: middle; width: 110px; background: #ff9700; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/15121/#41916" class="label-price" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: normal; text-transform: none;">или от 49 р.<br>без рекламы</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-film-separator" style="height: 70px;"><td colspan="5" style="vertical-align: middle;"><hr class="hr-blue" style="border-style: none; height: 1px; background-image: url('top-10-films_serials_casts/item-delim-blue.png');"></td></tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/19774/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_9.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/19774/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Тайм-код</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2008)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">6.9</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free" style="vertical-align: middle; background: #ffcd00; width: 280px; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/19774/" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="http://vsevi.ru/films/17343/" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/top_10_10.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="http://vsevi.ru/films/17343/" style="color: inherit; text-decoration: inherit;">
                <span class="label-film-name" style="color: #fff; font-size: 18px; font-weight: bold; text-decoration: underline;">Слезы солнца</span>
                <span class="label-film-year" style="color: #85b6c7; font-size: 18px; font-weight: normal; text-decoration: none;">(2003)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">6.9</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch" style="vertical-align: middle; width: 280px; background: #ff9700; height: 50px; text-align: center;"><a href="http://vsevi.ru/films/27434" style="color: inherit; text-decoration: inherit;">
        <span class="label-watch" style="color: #232323; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть</span><br><span class="label-price" style="color: #232323; font-size: 14px; font-weight: normal; text-transform: none;">от 49 р. без рекламы</span>
    </a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-sect-separator" style="height: 35px;"><td colspan="5" style="vertical-align: top;"></td></tr></table><!--- НОВИНКИ СЕРИАЛОВ --><table style="width: 800px; background: #fff; border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;" cellpadding="0" cellspacing="0"><tr style="height: 45px"><th colspan="5" style="vertical-align: bottom;"><h1 class="dots1 centerh1 blackh1" style="color: #000; font-size: 16px; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; text-align: center; background: url('top-10-films_serials_casts/dots1.png') center center no-repeat;">Новинки сериалов</h1></th>
</tr><tr style="height: 30px"><td style="width: 110px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 20px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 110px; vertical-align: top;">&nbsp;</td>
</tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <div class="box-new-season" style="color: #fff; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; text-align: center; text-transform: uppercase; vertical-align: middle; background: #007fc0;">Новый сезон</div>
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/serial_1.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-serial-name" style="font-size: 18px; color: #3168d1; font-weight: bold; text-decoration: underline;">Теория Большого взрыва</span>
                <span class="label-serial-year" style="font-size: 18px; color: #6d6d6d; text-decoration: none;">(2007-...)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">8.2</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free" style="vertical-align: middle; background: #ffcd00; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <div class="box-new-serial" style="background: #322a2a; color: #fff; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; text-align: center; text-transform: uppercase; vertical-align: middle;">Новый сериал</div>
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/serial_2.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-serial-name" style="font-size: 18px; color: #3168d1; font-weight: bold; text-decoration: underline;">Дневники вампира</span>
                <span class="label-serial-year" style="font-size: 18px; color: #6d6d6d; text-decoration: none;">(2008-...)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">8.4</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free-small" style="vertical-align: middle; width: 165px; background: #ffcd00; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть <br> бесплатно</a></td>
        <td class="btn-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
        <td class="btn-watch-small" style="vertical-align: middle; width: 110px; background: #ff9700; height: 50px; text-align: center;"><a href="#" class="label-price" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: normal; text-transform: none;">или от 49 р.<br>без рекламы</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-film-separator" style="height: 70px;"><td colspan="5" style="vertical-align: middle;"><hr class="hr-gray" style="border-style: none; height: 1px; background-image: url('top-10-films_serials_casts/item-delim-gray.png');"></td></tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <div class="box-new-season" style="color: #fff; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; text-align: center; text-transform: uppercase; vertical-align: middle; background: #007fc0;">Новый сезон</div>
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/serial_3.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-serial-name" style="font-size: 18px; color: #3168d1; font-weight: bold; text-decoration: underline;">Элементарно</span>
                <span class="label-serial-year" style="font-size: 18px; color: #6d6d6d; text-decoration: none;">(2012-...)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">8.0</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch" style="vertical-align: middle; width: 280px; background: #ff9700; height: 50px; text-align: center;"><a href="#" style="color: inherit; text-decoration: inherit;">
        <span class="label-watch" style="color: #232323; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть</span><br><span class="label-price" style="color: #232323; font-size: 14px; font-weight: normal; text-transform: none;">от 49 р. без рекламы</span>
    </a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <div class="box-new-season" style="color: #fff; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; text-align: center; text-transform: uppercase; vertical-align: middle; background: #007fc0;">Новый сезон</div>
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/serial_4.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name" style="vertical-align: top; width: 235px; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-serial-name" style="font-size: 18px; color: #3168d1; font-weight: bold; text-decoration: underline;">Сонная лощина</span>
                <span class="label-serial-year" style="font-size: 18px; color: #6d6d6d; text-decoration: none;">(2013-...)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-rating" style="vertical-align: middle; background: #007fc0; height: 30px; text-align: center; width: 40px;"><span class="label-item-rating" style="color: #fff; font-size: 18px; font-weight: bold;">7.6</span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free" style="vertical-align: middle; background: #ffcd00; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть<br>бесплатно</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-sect-separator" style="height: 35px;"><td colspan="5" style="vertical-align: top;">&nbsp;</td></tr></table><!--- ЛУЧШИЕ ТРАНСЛЯЦИИ ПРОШЛОЙ НЕДЕЛИ --><table style="width: 800px; background: #392d2d; border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;" cellpadding="0" cellspacing="0"><tr style="height: 45px"><th colspan="5" style="vertical-align: bottom;"><h1 class="dots3 centerh1 whiteh1" style="color: #fff; font-size: 16px; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; background: url('top-10-films_serials_casts/dots3.png') center center no-repeat; text-shadow: 0px 2px 1px #444; text-align: center;">Лучшие трансляции прошлой недели</h1></th>
</tr><tr style="height: 30px"><td style="width: 110px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 20px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 110px; vertical-align: top;">&nbsp;</td>
</tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/tv_archiv_1.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name is-trans" style="vertical-align: top; width: 210px; color: #ffcd00; font-weight: bold; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-trans-type" style="font-size: 18px; text-decoration: underline; color: #fff;">Футбол</span>:
                <span class="label-trans-name" style="font-size: 18px; text-decoration: underline;">Чемпионат Англии 2014/15: Манчестер Сити - Ливерпуль</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-trans-time" style="vertical-align: middle; background: #007fc0; height: 46px; margin-left: 5px; text-align: center; width: 65px;"><span class="label-item-trans-time" style="color: #fff; font-size: 12px;">
                                <span class="label-item-trans-time_first-line" style="font-size: 18px;">5</span><br>
                                сентября
                            </span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free" style="vertical-align: middle; background: #ffcd00; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть<br>бесплатно</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/tv_archiv_2.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name is-trans" style="vertical-align: top; width: 210px; color: #ffcd00; font-weight: bold; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-trans-type" style="font-size: 18px; text-decoration: underline; color: #fff;">Бокс</span>:
                <span class="label-trans-name" style="font-size: 18px; text-decoration: underline;">Первый тяжелый вес: Григорий Дрозд против Кшифтов Влодарчик</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-trans-time" style="vertical-align: middle; background: #007fc0; height: 46px; margin-left: 5px; text-align: center; width: 65px;"><span class="label-item-trans-time" style="color: #fff; font-size: 12px;">
                                <span class="label-item-trans-time_first-line" style="font-size: 18px;">27</span><br>
                                сентября
                            </span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-watch-free-small" style="vertical-align: middle; width: 165px; background: #ffcd00; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Смотреть<br>бесплатно</a></td>
        <td class="btn-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
        <td class="btn-watch-small" style="vertical-align: middle; width: 110px; background: #ff9700; height: 50px; text-align: center;"><a href="#" class="label-price" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: normal; text-transform: none;">или от 49 р.</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr></table><!--- НЕ ПРОПУСТИТЕ ТРАНСЛЯЦИИ --><table style="width: 800px; background: #392d2d; border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;" cellpadding="0" cellspacing="0"><tr style="height: 45px"><th colspan="5" style="vertical-align: bottom;"><h1 class="dots3 centerh1 whiteh1" style="color: #fff; font-size: 16px; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; background: url('top-10-films_serials_casts/dots3.png') center center no-repeat; text-shadow: 0px 2px 1px #444; text-align: center;">Не пропустите трансляции</h1></th>
</tr><tr style="height: 30px"><td style="width: 110px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 20px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="width: 110px; vertical-align: top;">&nbsp;</td>
</tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/tv_trans_1.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name is-trans" style="vertical-align: top; width: 210px; color: #ffcd00; font-weight: bold; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-trans-type" style="font-size: 18px; text-decoration: underline; color: #fff;">Формула 1</span>:
                <span class="label-trans-name" style="font-size: 18px; text-decoration: underline;">Гран-При Бельгии: Гонка, 44 круга</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-trans-time" style="vertical-align: middle; background: #007fc0; height: 46px; margin-left: 5px; text-align: center; width: 65px;"><span class="label-item-trans-time" style="color: #fff; font-size: 12px;">
                                <span class="label-item-trans-time_first-line" style="font-size: 18px;">19:00</span><br>
                                пятница
                            </span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-subscribe" style="vertical-align: middle; background: #57cb56; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Подписаться</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/tv_trans_2.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name is-trans" style="vertical-align: top; width: 210px; color: #ffcd00; font-weight: bold; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-trans-type" style="font-size: 18px; text-decoration: underline; color: #fff;">Формула 1</span>:
                <span class="label-trans-name" style="font-size: 18px; text-decoration: underline;">Гран-при Италии: Практика I</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-trans-time" style="vertical-align: middle; background: #007fc0; height: 46px; margin-left: 5px; text-align: center; width: 65px;"><span class="label-item-trans-time" style="color: #fff; font-size: 12px;">
                                <span class="label-item-trans-time_first-line" style="font-size: 18px;">19:15</span><br>
                                пятница
                            </span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-subscribe" style="vertical-align: middle; background: #57cb56; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Подписаться</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-film-separator" style="height: 70px;"><td colspan="5" style="vertical-align: middle;"><hr class="hr-brown" style="border-style: none; height: 1px; background-image: url('top-10-films_serials_casts/item-delim-brown.png');"></td></tr><tr><td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/tv_trans_3.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name is-trans" style="vertical-align: top; width: 210px; color: #ffcd00; font-weight: bold; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-trans-type" style="font-size: 18px; text-decoration: underline; color: #fff;">Хоккей</span>:
                <span class="label-trans-name" style="font-size: 18px; text-decoration: underline;">КХЛ 2014/2015: Динамо против ЦСКА</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-trans-time" style="vertical-align: middle; background: #007fc0; height: 46px; margin-left: 5px; text-align: center; width: 65px;"><span class="label-item-trans-time" style="color: #fff; font-size: 12px;">
                                <span class="label-item-trans-time_first-line" style="font-size: 18px;">12:30</span><br>
                                суббота
                            </span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-subscribe" style="vertical-align: middle; background: #57cb56; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Подписаться</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;">
        <a href="#" style="color: inherit; text-decoration: inherit;"><img src="/static/img/mail/top-10-films_serials_casts/tv_trans_4.jpg" alt="" title=""></a>

        <table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td colspan="3" class="item-header_before" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr><tr><td rowspan="2" class="wrapper-item-name is-trans" style="vertical-align: top; width: 210px; color: #ffcd00; font-weight: bold; font-size: 18px;">
            <a href="#" style="color: inherit; text-decoration: inherit;">
                <span class="label-trans-type" style="font-size: 18px; text-decoration: underline; color: #fff;">Футбол</span>:
                <span class="label-trans-name" style="font-size: 18px; text-decoration: underline;">Товарищеские матчи: Спартак (Москва) против Црвена Звезда (Белград)</span>
            </a>
        </td>
            <td class="item-name-spacing" style="vertical-align: top; width: 6px;">&nbsp;</td>
            <td rowspan="1" class="box-item-trans-time" style="vertical-align: middle; background: #007fc0; height: 46px; margin-left: 5px; text-align: center; width: 65px;"><span class="label-item-trans-time" style="color: #fff; font-size: 12px;">
                                <span class="label-item-trans-time_first-line" style="font-size: 18px;">14:00</span><br>
                                воскрес.
                            </span></td>
        </tr><tr><td style="vertical-align: top;">&nbsp;</td></tr><tr><td colspan="3" class="item-header_after" style="vertical-align: top; font-size: 1px; height: 20px;">&nbsp;</td></tr></table><table style="border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;"><tr><td class="btn-subscribe" style="vertical-align: middle; background: #57cb56; width: 280px; height: 50px; text-align: center;"><a href="#" class="label-watch" style="color: #232323; text-decoration: inherit; font-size: 14px; font-weight: bold; text-transform: uppercase;">Подписаться</a></td>
    </tr></table></td>
    <td style="vertical-align: top;">&nbsp;</td>
</tr><tr class="row-sect-separator" style="height: 35px;"><td colspan="5" style="vertical-align: top;">&nbsp;</td></tr></table><table style="width: 800px; background: #fff; border: 0; border-collapse: collapse; border-spacing: 0; font-size: 1px;" cellpadding="0" cellspacing="0"><tr><td colspan="7" style="height: 30px; vertical-align: top;">&nbsp;</td>
</tr><tr><td style="width: 20px; vertical-align: top;">&nbsp;</td>
    <td class="cell-footer-text" style="vertical-align: top; color: #7a7a7a; font-size: 12px;">
        Вы получили это письмо, потому что прошли регистрацию в проекте
        «Все Видео» и выразили согласие получать рассылку с новостями
        на указанный при регистрации адрес электронной почты. Вы можете
        <a href="#" style="color: #7a7a7a; text-decoration: underline;">отписаться</a>
        от этой рассылки или настроить частоту и формат рассылок в
        <a href="#" style="color: #7a7a7a; text-decoration: underline;">личном кабинете</a> пользователя.
    </td>
    <td style="width: 30px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;"><a href="http://vsevi.ru/" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/logo-footer.png" alt="Лого Все Видео" title="Все Видео"></a></td>
    <td style="width: 30px; vertical-align: top;">&nbsp;</td>
    <td style="vertical-align: top;"><a href="http://solarispromo.com/" style="color: inherit; text-decoration: inherit;"><img src="http://vsevi.ru/static/img/solaris-logo.png" alt="Лого Solaris Promo" title="Solaris Promo"></a></td>
    <td style="width: 20px; vertical-align: top;">&nbsp;</td>
</tr><tr><td colspan="7" style="height: 30px; vertical-align: top;">&nbsp;</td>
</tr></table></body></html>
